Repository Geoxor/Amethyst, pull requests merged in 2022-12, with the labels that each got.

#220 update icons to material
  src/renderer/App.vue
  src/renderer/components/LazyList.vue
  src/renderer/components/PlaybackButtons.vue
  src/renderer/components/TopBar.vue
  src/renderer/icons/material/AudioFileIcon.vue
  src/renderer/icons/material/DiscordIcon.vue
  src/renderer/icons/material/DownloadingUpdatesIcon.vue
  src/renderer/icons/material/EndIcon.vue
  src/renderer/icons/material/ErrorIcon.vue
  src/renderer/icons/material/ExternalLinkIcon.vue
  src/renderer/icons/material/GitHubIcon.vue
  src/renderer/icons/material/HideIcon.vue
  src/renderer/icons/material/LoadingIcon.vue
  src/renderer/icons/material/MusicFolderIcon.vue
  src/renderer/icons/material/PauseIcon.vue
  src/renderer/icons/material/PlayIcon.vue
  src/renderer/icons/material/RepeatIcon.vue
  src/renderer/icons/material/ResizeIcon.vue
  src/renderer/icons/material/StartIcon.vue
  src/renderer/icons/material/ZoomInIcon.vue
  src/renderer/icons/material/ZoomOutIcon.vue
  src/renderer/icons/material/index.ts
  src/renderer/icons/plumpy/AudioFileIcon.vue
  src/renderer/icons/plumpy/BitrateIcon.vue
  src/renderer/icons/plumpy/BroomIcon.vue
  src/renderer/icons/plumpy/DiscordIcon.vue
  src/renderer/icons/plumpy/ErrorIcon.vue
  src/renderer/icons/plumpy/ExternalLinkIcon.vue
  src/renderer/icons/plumpy/FileIcon.vue
  src/renderer/icons/plumpy/GitHubIcon.vue
  src/renderer/icons/plumpy/HeartIcon.vue
  src/renderer/icons/plumpy/HideIcon.vue
  src/renderer/icons/plumpy/InstallingUpdatesIcon.vue
  src/renderer/icons/plumpy/KeyClefIcon.vue
  src/renderer/icons/plumpy/LoadingIcon.vue
  src/renderer/icons/plumpy/MetronomeIcon.vue
  src/renderer/icons/plumpy/MusicFolderIcon.vue
  src/renderer/icons/plumpy/PictureIcon.vue
  src/renderer/icons/plumpy/RestartIcon.vue
  src/renderer/icons/plumpy/SettingsIcon.vue
  src/renderer/icons/plumpy/StorageIcon.vue
  src/renderer/icons/plumpy/ZoomInIcon.vue
  src/renderer/icons/plumpy/ZoomOutIcon.vue
  src/renderer/icons/plumpy/ZoomToExtentsIcon.vue
  src/renderer/icons/plumpy/index.ts
Labels: enhancement

#238 Update amf.md
  docs/file_types/amf.md
Labels: docs

#239 improved documentation grammar
  docs/file_types/amf.md
  docs/file_types/ang.md
  docs/installation/build_from_source.md
  docs/introduction.md
  docs/nodes/input_node.md
  docs/nodes/master_node.md
  docs/nodes/output_node.md
Labels: docs

#240 Grammar changes filter_node
  docs/nodes/filter_node.md
Labels: docs

#241 Grammar Output_node
  docs/nodes/output_node.md
Labels: docs

#244 punctuation my fucking nuts geoxor you suck
  docs/file_types/ang.md
Labels: docs

#242 GrAmMaR cOnSiStEncy amf_md
  docs/file_types/amf.md
Labels: docs

#243 Grammar Consistency input_node
  docs/nodes/input_node.md
Labels: docs

#247 Update package_managers.md
  docs/installation/package_managers.md
Labels: docs

#248 Update package_managers.md
  docs/installation/package_managers.md
Labels: docs

#250 implementation of WEQ8
  package.json
  src/renderer/logic/audio.ts
  src/renderer/logic/audioManager.ts
  src/renderer/nodes/WEQ8Node/component.vue
  src/renderer/nodes/WEQ8Node/index.ts
  src/renderer/nodes/index.ts
  src/renderer/views/NodeEditorView.vue
  yarn.lock
Labels: enhancement

#253 added track inspector
  src/renderer/App.vue
  src/renderer/components/Inspector/InspectorBar.vue
  src/renderer/components/Inspector/index.ts
  src/renderer/components/LazyList.vue
  src/renderer/components/menu/MenuOption.vue
  src/renderer/components/visualizers/VectorscopeAnalyzer.vue
  src/renderer/icons/fluency/CloseIcon.vue
  src/renderer/icons/material/BinocularsIcon.vue
  src/renderer/icons/material/ImageIcon.vue
  src/renderer/icons/material/index.ts
  src/renderer/state.ts
  src/renderer/themes/amethyst-dark.css
  src/renderer/views/NodeEditorView.vue
  src/renderer/views/QueueView.vue
  src/renderer/windi.config.ts
  src/shared/formating.ts
Labels: enhancement

#270 change checking time update from 10m to 1h
  src/main/mainWindow.ts
Labels: enhancement

#281 Update Translation of README.md and add section of i18n in it
  README-zh.md
  README.md
  docs/.vitepress/config.ts
  docs/file_types/amf.md
  docs/file_types/ang.md
  docs/installation/build_from_source.md
  docs/installation/package_managers.md
  docs/introduction.md
  docs/nodes/filter_node.md
  docs/nodes/input_node.md
  docs/nodes/master_node.md
  docs/nodes/output_node.md
  docs/zh/file_types/ang.md
  docs/zh/index.md
  docs/zh/introduction.md
  docs/zh/nodes/filter_node.md
  docs/zh/nodes/input_node.md
  docs/zh/nodes/master_node.md
  docs/zh/nodes/output_node.md
Labels: docs

#282 added bulgarian translation
  docs/.vitepress/config.ts
  docs/bg/file_types/amf.md
  docs/bg/file_types/ang.md
  docs/bg/index.md
  docs/bg/installation/build_from_source.md
  docs/bg/installation/package_managers.md
  docs/bg/introduction.md
  docs/bg/nodes/filter_node.md
  docs/bg/nodes/input_node.md
  docs/bg/nodes/master_node.md
  docs/bg/nodes/output_node.md
  docs/bg/public/filter_icon.svg
  docs/bg/public/icon.svg
  docs/bg/public/input_icon.svg
  docs/bg/public/master_icon.svg
  docs/bg/public/output_icon.svg
  docs/bg/public/site_preview.png
Labels: docs

#283 docs: russian translation
  docs/ru/file_types/amf.md
  docs/ru/file_types/ang.md
  docs/ru/index.md
  docs/ru/instalation/build_from_source.md
  docs/ru/instalation/package_managers.md
  docs/ru/introduction.md
  docs/ru/nodes/filter_node.md
  docs/ru/nodes/input_node.md
  docs/ru/nodes/master_node.md
  docs/ru/nodes/output_node.md
  docs/ru/public/filter_icon.svg
  docs/ru/public/icon.svg
  docs/ru/public/input_icon.svg
  docs/ru/public/master_icon.svg
  docs/ru/public/output_icon.svg
  docs/ru/public/site_preview.png
Labels: docs

#285 Create Russian readme, add switching to readme-ru from English and Chinese
  README-ru.md
  README-zh.md
  README.md
Labels: docs

#286 I go eat something, will translate rest later (polish translation)
  README-pl.md
  README-ru.md
  README-zh.md
  README.md
  docs/pl/file_types/amf.md
  docs/pl/file_types/ang.md
  docs/pl/index.md
  docs/pl/installation/build_from_source.md
  docs/pl/installation/package_managers.md
  docs/pl/introduction.md
  docs/pl/nodes/filter_node.md
  docs/pl/nodes/input_node.md
  docs/pl/nodes/master_node.md
  docs/pl/nodes/output_node.md
  docs/pl/public/filter_icon.svg
  docs/pl/public/icon.svg
  docs/pl/public/input_icon.svg
  docs/pl/public/master_icon.svg
  docs/pl/public/output_icon.svg
  docs/pl/public/site_preview.png
Labels: docs

#288 polish docs
  docs/.vitepress/config.ts
Labels: docs

#289 Polish translation v2
  README-pl.md
  docs/pl/index.md
  docs/pl/nodes/filter_node.md
  docs/pl/nodes/input_node.md
  docs/pl/nodes/master_node.md
  docs/pl/nodes/output_node.md
  docs/pl/public/site_preview.png
Labels: docs

#290 created Chinese (simplified) page for vectorscope
  vectorscope_zh.md
Labels: docs

#291 Polish language doesn't have vectorscope
  docs/pl/components/vectorscope.md
Labels: docs

#292 Updated vectorscope.md chinese page
  docs/zh/components/vectorscope.md
Labels: docs

#294 Lily does Italian Translating
  docs/it/components/vectorscope.md
  docs/it/file_types/amf.md
  docs/it/file_types/ang.md
  docs/it/index.md
  docs/it/installation/build_from_source.md
  docs/it/installation/package_managers.md
  docs/it/introduction.md
  docs/it/nodes/filter_node.md
  docs/it/nodes/input_node.md
  docs/it/nodes/master_node.md
  docs/it/nodes/output_node.md
  docs/it/public/filter_icon.svg
  docs/it/public/icon.svg
  docs/it/public/input_icon.svg
  docs/it/public/master_icon.svg
  docs/it/public/output_icon.svg
  docs/it/public/site_preview.png
  docs/it/public/vectorscope.png
Labels: docs

#296 Translate vectorscope.md to Russian
  README-ru.md
  docs/ru/components/vectorscope.md
Labels: docs

#299 lithuanian language support
  docs/lt/components/vectorscope.md
  docs/lt/file_types/amf.md
  docs/lt/file_types/ang.md
  docs/lt/index.md
  docs/lt/installation/build_from_source.md
  docs/lt/installation/package_managers.md
  docs/lt/introduction.md
  docs/lt/nodes/filter_node.md
  docs/lt/nodes/input_node.md
  docs/lt/nodes/master_node.md
  docs/lt/nodes/output_node.md
  docs/lt/public/filter_icon.svg
  docs/lt/public/icon.svg
  docs/lt/public/input_icon.svg
  docs/lt/public/master_icon.svg
  docs/lt/public/output_icon.svg
  docs/lt/public/site_preview.png
  docs/lt/public/vectorscope.png
Labels: docs

#300 Fixe
  src/main/mainWindow.ts
  src/renderer/components/PlaybackButtons.vue
  src/renderer/logic/player.ts
  src/renderer/logic/track.test.ts
  src/renderer/logic/track.ts
  src/renderer/mediaSession.ts
  src/renderer/shortcuts.ts
Labels: enhancement, bug-fix

#301 Translated to German
  docs/de/introduction.md
Labels: docs

#306 added more bg translations
  docs/bg/index.md
  docs/bg/introduction.md
Labels: docs

#305 Update README-ru.md
  README-ru.md
Labels: docs
